/* Google Font, Poppins, weight 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

/* Overall Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



/* ------------------------------
--------  First Section  --------
--------------------------------- */

.first-section{
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.top-info{
    width: 485px;
    margin-left: 15%;
    margin-top: 5%;
}

.first-section .section-title{
    font-size: 64px;
    color: white;
}

.pink-button{
    background-color: #E02C6D;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.first-section .pink-button:hover{
    background-color: white;
    color: black;
}

.top-banner{
    margin-top: 6%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.first-section .top-banner img{
    width: 556px;
}





/* ----------------------------------
---------  Players Gallery  ---------
------------------------------------- */

.players-gallery{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    column-gap: 30px;
    row-gap: 27px;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
}

.player{
    width: 330px;
    height: 540px;
    box-shadow: 0 0 10px rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-thumbnail img{
    width: 300px;
    justify-content: center;
    padding: 15px;
    padding-bottom: 16px;
}

.player-name{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.player-info{
    font-size: 16px;
    width: 290px;
    margin-top: 10px;
    margin-bottom: 33px;
}






/* ----------------------------------
-----  Copa America Highlights  -----
------------------------------------- */

.copa-highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    margin-top: 165px;
}

.copa-highlights-info{
    margin-left: 18%;
}

.copa-highlights .section-title{
    font-size: 48px;
    margin-bottom: 0;
}

.copa-highlights .copa-highlights-info .info{
    font-size: 16px;
    margin-bottom: 34px;
    width: 404px;
}

.copa-highlights .pink-button:hover{
    background-color: greenyellow;
    color: black;
}

.copa-highlights-banner img{
    width: 567px;
    height: 427px;
}






/* ----------------------------------
-------------  Copa Final  ----------
------------------------------------- */
.copa-final{
    display: grid;
    grid-template-columns: repeat(2, 650px);
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.copa-final-description{
    width: 600px;
}

.copa-final .section-title{
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0px;
}

.copa-final-description h3{
    margin-top: 0;
}
.copa-final-description .copa-info{
    width: 480px;
}









/* ----------------------------------
-------------  Form  ----------
------------------------------------- */

.survey-form{
    border-radius: 15px;
    background-color: #1100ffc2;
    padding: 20px;
    width: 40%;
    margin: auto;
    margin-top: 10%;
  }

  #form-title{
    text-align: center;
    font-size: 130%;
    margin-top: 5%;
    color: white;
}

.survey-form input, select, textarea{
    display: block;
}
.survey-form label{
    margin-left: 20px;
    margin-top: 50px;
    color: white;
}
.survey-form #name, select, textarea{
    width: 95%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    margin: auto;
}

input[type=submit] {
    background-color: #E02C6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
background-color: white;
color: black;
}

.survey-form input[type=submit]{
/* margin-top: 20px;
margin-left: 20px; */ 
margin: auto;
margin-top: 20px;
}








/* ----------------------------------
-------------  Footer  --------------
------------------------------------- */

footer{
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-logo img{
    width: 480px;
}

.foot-icons a{
    font-size: 32px;
    text-decoration: none;
    color: #969BAB;
    margin-right: 14px;
}

.copyright{
    font-size: 18px;
}






/* ----------------------------------
-----------  Media Query  -----------
------------------------------------- */

@media only screen and (max-width:688px) {
    
    /* First Section */
    .first-section{
        grid-template-columns: repeat(1, 1fr);
    }

    .top-info{
        width: auto;
        margin-left: 7%;
        margin-top: 2%;
    }

    .first-section .section-title{
        font-size: 36px;
        color: rgb(255, 255, 255);
        width: 250px;
    }

    .first-section .top-banner img{
        width: 300px;
    }

    .first-section .top-banner img{
        width: 260px;
        margin-top: 5%;
    }





    /* Player Gallery */

    .players-gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 47px;
    }

    .player{
        width: 330px;
        height: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    




    /* 3rd Section - Copa Highlights */

    .copa-highlights{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin-top: 60px;
    }
    .copa-highlights-info{
        margin-left: 1%;
    }
    .copa-highlights .section-title{
        font-size: 30px;
        margin-bottom: 29px;
    }
    
    .copa-highlights .copa-highlights-info .info{
        margin-bottom: 24px;
        width: 329px;
    }
    
    .copa-highlights-banner img{
        width: 328px;
        height: 248px;
        margin-top: 29px;
    }






    /* copa final */
    .copa-final{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 80px;
    }
    
    .copa-final-description{
        width: 600px;
    }
    
    .copa-final .section-title{
        font-size: 30px;
    }
    .copa-final-description{
        width: auto;
        margin: auto;
    }
    
    .copa-final-description .copa-info{
        width: 300px;
    }
    .copa-final-video{
        width: 70%;
        margin: 0 auto;     
    }
    .copa-final-video iframe{
        width: 100%;
        height: 100%;
        margin: auto;      
    }



    /* Form */

    .survey-form{

        width: 85%;
        margin-top: 25%;
      }
    
      #form-title{
        font-size: 90%;
    }
 

     /* Footer */
     footer{
        margin-top: 43px;
    }
    .foot-logo img{
        width: 275px;
    }
    
    .foot-icons{
        font-size: 32px;
    }
    
    .copyright{
        font-size: 18px;
    }

    
}